# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual env
venv/
env/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Env variables
.env

# Git lock
*.lock

# OS-specific
*.swp

